.layout-container {
  max-width: 1600px;
  margin: 0 auto;
}

.layout-container .layout-sidebar {
  background-color: #fed;
}

.layout-container .main-layout {
  display: flex;
  flex-flow: row wrap;
}

.layout-container .layout-content,
.layout-container .layout-sidebar {
  flex-basis: 100%;
}

@media screen and (min-width: 920px) {
  .layout-container .layout-content {
    flex: 1 0;
  }

  .layout-container .layout-sidebar {
    flex: 0 1 20%;
  }

  .layout-container .layout-sidebar-first {
    order: -1;
  }

  .layout-container .layout-sidebar-second {
    order: 1;
  }
}

.region-header {
  background-color: #123;
  color: #fed;
  display: flex;
  padding: 1em;
  align-items: center;
}

.region-header a {
  color: inherit;
}
